* {
  user-select: none;
}

.i-enjoy {
  position: fixed;
  transform: rotate(10deg);
  top: 1em;
  right: 1em;
  padding: 1em 2em;
  font-size: 28px;
  background-color: brown;
  color: white;
  border-radius: 50%;
  font-family: 'Nanum Gothic', 'Apple SD Gothic Neo', 'Malgun Gothic', Roboto, Noto, 'Noto Sans CJK KR', sans-serif;
}

.game-scene {
  width: 600px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time-gauge-bar {
  width: 600px;
  height: 48px;
  border-radius: 24px;
  border: 1px solid #efefef;
  margin-bottom: 1.2em;
  overflow: hidden;
}

.time-gauge {
  height: 48px;
  background-color: green;
}

.board {
  display: grid;
  width: 600px;
  grid-template-columns: repeat(10, 1fr);
  gap: 2px;
}

.cell {
  font-size: 48px;
  display: flex;
  height: 60px;
  background-color: white;
  align-items: center;
  justify-content: center;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.cell:active {
  background-color: silver;
}

.cell--selected {
  background-color: skyblue;
}

.cell--solved {
  visibility: hidden;
}
